<tr>
    <td>Gender:</td>

    <?php
                if($gender =="Male"){?>
    <td> <?php echo "Male"?></td>
    <?php } elseif ( $gender == "Female"){?>

    <td> <?php  echo "Female";?></td>

    <?php }?>
</tr>

<tr>
    <td>Department:</td>
    <?php
                if($department =="CSE"){?>
    <td> <?php echo "CSE"?></td>
    <?php } elseif ( $department == "EEE"){?>

    <td> <?php  echo "EEE";?></td>

    <?php }elseif ( $department == "ETE"){?>
    <td> <?php  echo "ETE";?></td>
    <?php } ?>
</tr>

<tr>
    <td>Language:</td><td> <?php  echo $language;?></td>
</tr>